{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Le Grand Jasmin, établissement d'enseignement privé allant de la maternelle au lycée a ouvert ses portes pour vous accueillir. Cette continuité de l'enfance à l'âge adulte est l'assurance d'une éducation cohérente et harmonieuse.">
  <meta name="keywords" content="Le Grand Jasmin ,vacance scolaire, ecole , jasmin ,massar,college ,lycces,primaire ,madrassa ">
  <meta name="author" content="Abdelhamid Touil">
  <title>vacance scolaire</title>
  <link rel="shortcut icon" href="{{asset('assets/style/images/favicon.png')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style/css/plugins.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style/revolution/css/settings.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style/revolution/css/layers.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style/revolution/css/navigation.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style/type/type.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/style/css/color/purple.css')}}">
 
</head><!--End header-->
<body><!--start body-->
 {{include('includes/header.html.twig')}}
 {{include('includes/rightbar.html.twig')}}<!--right bar-->
<!-- start wrapper  -->
    <div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{ asset('assets/style/images/art/pe.jpg')}}">
      <div class="container inner text-center">
        <div class="space90"></div>
        <h1 class="page-title">Les vacances scolaires</h1>
        <p class="lead">Saison scolaire : 2020/2021</p>
      </div><!-- /.container -->
    </div><!-- /end wrapper -->

    <!-- /.wrapper -->
    <div class="wrapper ">
        <div class="container inner">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  <h2 class="section-title text-center"> <a href="style/images/art/jourferier.png" download>Télécharger la liste des jours fériés</a> </h2>
                  <div class="space30"></div>
                  <center> <img  style="max-width:100% ;" src="style/images/art/jourferier.png" alt=""></center>
                  <center><a href="{{asset('assets/style/images/art/jourferier.png')}}" download>Télécharger </a></center>
                </div>
            </div>
        </div>
    </div><!-- /end wrapper -->
      
     {{include('includes/footer.html.twig')}}
<script src="{{ asset('assets/style/js/jquery.min.js')}}"></script>
<script src="{{ asset('assets/style/js/popper.min.js')}}"></script>
<script src="{{ asset('assets/style/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.actions.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.carousel.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.migration.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.navigation.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.parallax.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
<script src="{{ asset('assets/style/revolution/js/extensions/revolution.extension.video.min.js')}}"></script>
<script src="{{ asset('assets/style/js/plugins.js')}}"></script>
<script src="{{ asset('assets/style/js/scripts.js')}}"></script>
</body>
</html>
{% endblock %}
